<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <!--
    Directory where the full streamable files are to be deployed. This directory should streamable from wowza
    doms and domslive plugin
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.finaldir" value="/home/larm/streamingContent"/>

    <!--
    Directory where thumbnails are placed.
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.snapshotDirectory" value="/home/larm/imageDirectory"/>

    <!--
    Directory where preview videos are placed. This directory should be streamable from wowza vod plugin.
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.previewDirectory" value="/home/larm/previewDirectory"/>


    <!-- A small temporary directory where lock files can be stored. This should be distinct for each instance of bes if
    there are multiple instances on the same machine/container.
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.tempdir" value="/home/larm/temp/besDEVEL" />

    <!--
        URL where streamable files (dk.statsbiblioteket.doms.radiotv.extractor.finaldir) are streamed from
        -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.wowzaUrl" value="rtmp://iapetus.statsbiblioteket.dk:1935/doms" />

    <!--
        URL where preview files (dk.statsbiblioteket.doms.radiotv.extractor.previewDirectory) are streamed from
        -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.wowzaPreviewUrl" value="rtmp://iapetus.statsbiblioteket.dk:1935/kultur_preview" />

    <!--
    Address of the content root of the web server from which the snapshot files are delivered. In DEVEL we use tomcat but in stage/prod this
    should be an apache webserver. The url should point to the snapshot root directory specified by
    dk.statsbiblioteket.doms.radiotv.extractor.snapshotDirectory
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.snapshotWebserver" value="http://iapetus:9311/images/" />

     <!-- Control multithreading: How many simultaneous processes to allow
        -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.maxActive" value="8" />

    <!--
    Location and login information for DOMS
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.domsLocation" value="http://alhena:7880/fedora" />
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.domsUsername" value="fedoraReadOnlyAdmin" />
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.domsPassword" value="fedoraReadOnlyPass" />

    <!--
    video and audio bitrates (kbps) for transcoded broadcasts
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.videoBitrate"  value="400"/>
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.audioBitrate" value="96"/>

    <!--
    Picture height in pixels for transcoded broadcasts. (Picture width is determined automatically to preserve the broadcast aspect ratio.)
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.pictureHeight" value="288"/>

    <!--
    Encoding presets for x264
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.x264PresetVlc" value="profile=High,preset=superfast,level=3.0" />

    <!--
    Length of preview clips in seconds.
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.previewLength"  value="30"/>

    <!--
    The number of snapshots required per-program
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.snapshotNumber"   value="4"/>

    <!--
    The length in seconds of the clip from which snapshots are extracted.
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.snapshotLength"  value="10"/>

    <!--
    The initial format in which snapshots are dumped.
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.snapshotPrimaryFormat"  value="bmp"/>

    <!--
    The final format to which snapshots are comverted.
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.snapshotFinalFormat"   value="jpeg"/>

    <!--
    The final width in pixels of the snapshot divided by 16.
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.snapshotScaleSize"  value="32"/>

    <!--
    The quality of the final snapshot (0-100).
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.snapshotQuality"   value="75"/>


</Context>