<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <!--
    Directory where the streamable files are to be deployed
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.finaldir" value="/home/larm/streamingContent"/>

    <!-- A small temporary directory where lock files can be stored
    -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.tempdir" value="/home/larm/temp/bes_exp" />

    <!--
        URL where streamable files are streamed from
        -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.wowzaUrl" value="rtmp://130.225.24.62/doms" />

     <!-- Control multithreading: How many simultaneous processes to allow
        -->
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.maxActive" value="8" />

    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.domsLocation" value="http://carme:7880/fedora" />
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.domsUsername" value="fedoraReadOnlyAdmin" />
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.domsPassword" value="2ZeMA1bN" />

    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.videoBitrate"  value="200"/>
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.audioBitrate" value="96"/>
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.pictureHeight" value="240"/>
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.x264PresetVlc" value="profile=High,preset=superfast,level=3.0" />

    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.previewLength"  value="30"/>


    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.snapshotNumber"   value="5"/>
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.snapshotLength"  value="10"/>
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.snapshotDirectory"  value="/home/larm/imageDirectory"/>
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.snapshotPrimaryFormat"  value="bmp"/>
    <Parameter name="dk.statsbiblioteket.doms.radiotv.extractor.snapshotFinalFormat"   value="jpeg"/>


</Context>