<web-app xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>Broadcast Extraction Service</display-name>

    <servlet>
        <servlet-name>Broadcast Extraction Service</servlet-name>

        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>

        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>dk.statsbiblioteket.doms.radiotv.extractor</param-value>
        </init-param>

        <init-param>
            <param-name>dk.statsbiblioteket.doms.radiotv.extractor.tempdir</param-name>
            <param-value>tempdir</param-value>
        </init-param>

        <init-param>
            <param-name>dk.statsbiblioteket.doms.radiotv.extractor.finaldir</param-name>
            <param-value>clips</param-value>
        </init-param>

        <init-param>
            <param-name>dk.statsbiblioteket.doms.radiotv.extractor.mediafilefinderclass</param-name>
            <param-value>dk.statsbiblioteket.doms.radiotv.extractor.transcoder.WebserviceMediafileFinder</param-value>
        </init-param>

        <init-param>
            <param-name>dk.statsbiblioteket.doms.radiotv.extractor.fileLocatorUrl</param-name>
            <param-value>http://pluto.statsbiblioteket.dk/~bart/get_url.cgi?</param-value>
        </init-param>

        <init-param>
            <param-name>dk.statsbiblioteket.doms.radiotv.extractor.demuxerAlgorithm</param-name>
            <param-value>seamless</param-value><!--Allowable values are "seamless" and "naive" -->
        </init-param>

        <!-- Do not change the values for -r, -e and -E unless you are really sure
        -->
        <init-param>
            <param-name>dk.statsbiblioteket.doms.radiotv.extractor.handbrakeParameters</param-name>
            <param-value>-r 24 -e x264 -E faac --crop 0:0:0:0 --height 240 </param-value>
        </init-param>

        <init-param>
            <param-name>dk.statsbiblioteket.doms.radiotv.extractor.videoBitrate</param-name>
            <param-value>200</param-value>
        </init-param>

        <init-param>
            <param-name>dk.statsbiblioteket.doms.radiotv.extractor.audioBitrate</param-name>
            <param-value>96</param-value>
        </init-param>

        <init-param>
            <param-name>dk.statsbiblioteket.doms.radiotv.extractor.wowzaUrl</param-name>
            <param-value>rtmp://130.225.24.62/vod</param-value>
        </init-param>

         <init-param>
            <param-name>dk.statsbiblioteket.doms.radiotv.extractor.domsUsername</param-name>
            <param-value>fedoraAdmin</param-value>
        </init-param>

         <init-param>
            <param-name>dk.statsbiblioteket.doms.radiotv.extractor.domsPassword</param-name>
            <param-value>fedoraAdminPass</param-value>
        </init-param>

        <!-- The values -x subq=1:nob_adapt:bframes=1:threads=auto:keyint=1000
        are optimised for speed over quality
        -->
         <init-param>
            <param-name>dk.statsbiblioteket.doms.radiotv.extractor.x264Parameters</param-name>
            <param-value>-x subq=1:nob_adapt:bframes=1:threads=auto:keyint=1000 </param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Broadcast Extraction Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>
